.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 0.9rem;
}

.nav{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.nav__link{
    display: flex;
    gap: .6rem;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
}
.nav__count{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    border: 1px solid var(--black);
    border-radius: 40%;
    padding: 0 .7rem;
}