div.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.search__wrapper{
    position: relative;
    display: flex;
    flex: 1;
}
.search__img{
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
}
.search__input{
    background-color: var(--input-bg);
    border: none;
    border-radius: .5rem;
    padding: 1.5rem 3rem 1.5rem 2.5rem;
    flex: 1;
}
.search__input:focus-visible{
    outline-color: var(--light-grey);
}
.search__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-color);
    border: none;
    border-radius: .5rem;
    padding: 1.1rem;
    cursor: pointer;
}